<aside class="fixed h-full w-1/8 top-0 left-0 p-5 bg-orange-400">
  <ul>
    <li><a href="">Add a Note</a></li>
    
    <li><a href="">Delete a Note</a></li>
    
    <li><a href="">Edit a Note</a></li>
    
    <li><a href="">Log out</a></li>
  </ul>
</aside>

<main class="ml-50 h-full pl-20 pt-10">
  <input type="text" placeholder="Search notes" />
  <h1 class="text-black text-2xl">Notes</h1>
  
  <div class="grid grid-cols-3"></div>
</main>
